body {
    padding: 0;
    margin: 0;

    background-color: #ffe;
    overflow: hidden;
    width: 100%;
}
#page-strip {
    height: 100%;
}
.page {
    border: 5px solid grey;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}

.page .photo {
    position: absolute;

}
.page .photo img {
    height: 100%;
}
.page .info {
    text-align:right;
    position: absolute;
}
.page .info div {
    margin: 20px;
}

.slide {
    -webkit-transition: left 0.6s ease;
}
@media (orientation:portrait) {
    .page .info {
	width: 100%;
	height: 50%;
	top: 50%;
    }
    .page .photo {
	width: 100%;
	height: 50%;
    }
    .page .photo img {
	margin-left: 10%;
    }
}
@media (orientation:landscape) {
    .page .info {
	width: 50%;
	height: 100%;
	top: 0;
	left: 50%;
    }
    .page .photo {
	width: 50%;
	height: 100%;
    }
}