#prompt {
    display: block;
    width:100%;
    background-color:#eef;

    border:none;
    margin: 0px;
    margin-bottom: 4px;
    border-left:1em solid #ede;

    position: absolute;
}

#echo {
    position: absolute;
    width: 100%;
    background: #fff url("playbookShellSplash.png") no-repeat center center;
    margin:0;
    overflow:auto;
}

.line {
    margin:0;
    margin-bottom: 0.5em;
    padding-top:0.3em;
    padding-bottom:0.3em;
    background-image:none;
    background-color:rgba(255,255,255,0.5);
}

.in {
    margin: 0;
    padding: 0;
}

.out {
    margin: 0;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0;
}
